<div class="container cal-shell">
                <div
                    id="my-cal-inline-agendamentos"
                    class="cal-embed"
                    role="region"
                    aria-labelledby="agendamento-titulo"
                    aria-busy="true"
                ></div>
                <noscript>
                    <p>Para agendar, acesse <a href="{{ site.integrations.calPublicUrl }}">a agenda de Caroline Bispo</a>.</p>
                </noscript>
            </div>
