---
layout: layouts/base.njk
permalink: index.html
pageKey: home
isHome: true
isIndexable: true
isLegal: false
robots: index, follow, max-image-preview:large
schemaPageType: WebPage
bodyClass: institutional-page home-page
mobilePrimaryUrl: /diagnostico-google-meu-negocio/
mobilePrimaryLabel: Diagnóstico
---
{% include "content/institutional-home.njk" %}
