---
layout: layouts/base.njk
permalink: servicos/gestao-trafego-pago/index.html
pageKey: paid
navKey: services
serviceKey: paid
isHome: false
isIndexable: true
isLegal: false
robots: index, follow, max-image-preview:large
schemaPageType: WebPage
breadcrumbParentLabel: Serviços
breadcrumbParentUrl: /servicos/
breadcrumbLabel: Gestão de Tráfego Pago
bodyClass: institutional-page internal-page service-page
mobilePrimaryUrl: /contato/
mobilePrimaryLabel: Contato
---
{% include "content/service-page.njk" %}
